.events-edit-screen,
.events-new-screen {
  textarea {
    width: 100%;
    height: 8rem;
    border: 1px solid #ddd;
    border-top: 0;
    padding: 0.5rem;
    font-size: 1.3rem;
  }

  input {
    width: 100%;
    border: 1px solid #ddd;
    border-top: 0;
    padding: 0.5rem;
    font-size: 1.3rem;
  }
}
