<div class="comment-form" data-event-id="<%= event_id %>">
  <div class="comment-form-field comment-form-field--name">
    <input type="text" placeholder="Your Name" class="comment-form-name">
  </div>

  <div class="comment-form-field comment-form-field--text">
    <textarea placeholder="Your Message..."></textarea>
  </div>

  <button class="comment-form-submit-button">Send Comment</button>
</div>
