<div class="comment-form" data-event-id="<%= event_id %>">
  <div class="comment-form-field">
    <input type="text" placeholder="Your Name">
  </div>

  <div class="comment-form-field">
    <textarea placeholder="Your Message"></textarea>
  </div>

  <button class="comment-form-submit-button">Send Comment</button>
</div>
