.comment-form {
  margin-bottom: 2rem;

  textarea,
  input {
    width: 100%;
    margin-bottom: 1rem;
    border: 0;
    border-bottom: 1px solid rgba(0, 122, 255, 0.5);
    padding: 0.5rem;
    font-size: 1.3rem;
    background: rgba(255, 255, 255, 0.7);

    &:focus {
      border-color: $ios-blue;
      background: #fff;
      outline: none;
    }
  }

  textarea {
    height: 7rem;
  }
}

.comment-form-submit-button {
  border: 1px solid $ios-blue;
  border-radius: 0.3rem;
  padding: 0.75rem 2rem;
  color: #007AFF;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  background: #fff;

  &:focus {
    border-color: #000;
    outline: none;
  }
}
