.comment-form {
  margin-bottom: 2rem;

  textarea,
  input {
    width: 100%;
    margin: 0;
    border: 1px solid rgba(0, 122, 255, 0.3);
    padding: 0.75rem 0.5rem;
    font-size: 1.3rem;
    background: rgba(255, 255, 255, 0.6);

    &:focus {
      background: #fff;
      outline: none;
    }
  }

  textarea {
    height: 7rem;
  }
}

.comment-form-field {
  margin-bottom: 0.75rem;
}

.comment-form-field--name {
  margin-bottom: 0;

  input {
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.comment-form-field--text {
  textarea {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.comment-form-submit-button {
  border: 0;
  border-bottom: 1px solid adjust-color($ios-blue, $lightness: 35);
  padding: 0 0 0.6rem 0;
  color: #007AFF;
  font-size: 1.5rem;
  cursor: pointer;
  background: transparent;

  &:focus { outline: none; }
}
