.display-view {
  @include position(absolute, 0 0 0 0);
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include align-items(stretch);
  @include align-content(stretch);
}

.display-view-list-section {
  overflow: auto;
  flex-basis: 40%;
}

.display-view-map-section {
  flex-basis: 60%;
}
