.display-view {
  @include position(absolute, 0 0 0 0);
  @include display(flex);
  @include flex-wrap(nowrap);
  @include align-items(stretch);
  @include align-content(stretch);
}

.display-view-list-section {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}


@media screen and (max-width: 750px) {
  .display-view {
    @include flex-direction(column);
  }

  .display-view-list-section {
    flex-basis: 50%;
  }

  .display-view-map-section {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 751px) {
  .display-view {
    @include flex-direction(row);
  }

  .display-view-list-section {
    flex-basis: 40%;
    max-width: 600px;
  }

  .display-view-map-section {
    flex-basis: 60%;
    flex-grow: 1;
  }
}
