.event-display {
  position: relative;
  border-bottom: 1px solid #eee;
  padding: 3rem 3rem 1.25rem 3rem;
  font-family: 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  @include transition(all 0.1s ease-in-out);
  cursor: pointer;
  // background-image: repeating-linear-gradient(to bottom, transparent 0px, transparent 23px, red 23px, red 24px);

  &:hover {
    background-color: #fafafa;
  }

  &:after {
    @include position(absolute, 0 0 0 auto);
    @include transition(width 0.1s ease-in-out);
    width: 0;
    background-color: adjust-color($ios-blue, $lightness: 47);
    // background-image: repeating-linear-gradient(to bottom, transparent 0px, transparent 23px, red 23px, red 24px);
    content: '';
  }

  .close-circle { display: none; }
}

.event-display-empty-state {
  @include position(absolute, 0px 0px 0px 0px);
  @include display(flex);
  @include align-items(center);
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;

  div {
    position: relative;
    width: 100%;
  }

  span {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    text-shadow: 0 1px 0px #fff;
    z-index: 1;
  }

  img {
    position: relative;
    left: 0;
    display: block;
    width: 75%;
    margin: 0 auto;
    opacity: 0;
  }

  .car-active {
    opacity: 0.15;
  }
}

@media screen and (max-width: 800px) {
  .event-display {
    padding: 1.5rem 2rem 0 2rem;
  }
}

.event-display--active {
  cursor: default;

  &:after { width: 100%; }
}

.event-display-content {
  position: relative;
  z-index: 1;
}

.event-display-category {
  position: relative;
  margin-bottom: 0.5rem;
  color: #999;
  font-size: 1.1rem;
  text-transform: lowercase;
}

.event-display-description {
  position: relative;
  font-size: 1.4rem;
}

.event-display-cost {
  position: absolute;
  top: 0;
  right: -4px;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -0.075rem;
  opacity: 0.08;
}

@media screen and (max-width: 1250px) {
  .event-display-cost {
    top: 10px;
    font-size: 40px;
  }
}

@media screen and (max-width: 900px) {
  .event-display-cost {
    font-size: 32px;
  }
}

.event-display-icon {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.12;

  img { width: 60px; }
}

@media screen and (max-width: 800px) {
  .event-display-icon img {
    width: 45px;
  }
}

.event-display-venue-name {
  font-size: 2.6rem;
  font-weight: 300;
}

@media screen and (min-width: 1400px) {
  .event-display-venue-name {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .event-display-venue-name {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 500px) {
  .event-display-venue-name {
    font-size: 1.4rem;
    font-weight: bold;
  }
}

.event-display-meta {
  @include justify-content(flex-start);
  @include align-items(center);
  font-size: 1.2rem;

  .flex-element {
    @include flex-grow(0);
    padding-right: 1rem;
  }
}

.event-display-meta-comment-count {
  border-left: 1px solid #ccc;
  padding-left: 1rem
}

.event-display-weather-icon {
  width: 60px;
}

@media screen and (max-width: 750px) {
  .event-display-weather-icon {
    width: 40px;
  }
}

.event-display-sub-content {
  position: relative;
  display: none;
  z-index: 1;

  img {
    width: 100%;
    cursor: pointer;
  }

  h1 {
    position: relative;
    padding: 1rem 0;
    font-size: 1.2rem;

    // &:after {
    //   content: '';
    //   position: absolute;
    //   top: 4px;
    //   left: 0;
    //   width: 10px;
    //   height: 1px;
    //   background: #000;
    // }
  }

  .unit {
    padding-left: 0.25rem;
    font-size: 80%;
    opacity: 0.8;
  }
}

.event-display--active {
  .event-display-sub-content {
    display: block;
  }

  .close-circle { display: block; }

  .event-display-icon { display: none; }
}


.event-weather-location-wrapper {
  overflow: hidden;
}

.event-display-sub-content-section--weather {
  width: 20.0rem;;
}

@media screen and (min-width: 545px) {
  .event-display-sub-content-section {
    float: left;
  }
}
