.full-image-container {
  overflow: auto;
  @include position(fixed, 0px 0px 0px 0px);
  background: rgba(255,255,255, 0.7);
  z-index: 2000;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);

  img {
    cursor: -webkit-grab;
    cursor: grab;
  }

  .close-circle {
    @include position(fixed, 12px 30px auto auto);
  }
}
