.full-image-container {
  overflow: auto;
  @include position(fixed, 0px 0px 0px 0px);
  padding: 20px;
  z-index: 2000;
  cursor: pointer;
  background: rgba(255,255,255, 0.7);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);

  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0, 0.25);
  }
}
