.title-bar {
  @include position(absolute, 0 0 auto 0);
  @include justify-content(space-between);
  display: flex;
  height: $title-bar-height;
  border-bottom: 1px solid #ccc;
  font-size: 1.6rem;
  line-height: $title-bar-height;
  background: rgba(255,255,255, 0.9);
  z-index: 2;
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(1.5px);
}

.title-bar-text {
  @include position(absolute, 0 0 0 0);
  @include ellipsis;
  font-size: 1.8rem;
  text-align: center;
}

.title-bar-button {
  position: relative;
  padding: 0 10px;
  color: $ios-blue;
  cursor: pointer;
  text-decoration: none;
  z-index: 2;

  svg {
    position: absolute;
    top: 50%;
    height: 17px;
    margin-top: -7.5px;

    polygon {
      fill: $ios-blue;
    }
  }
}

.title-bar-button--right {
  svg {
    right: 13px;
  }
}

.title-bar-button--default {
  font-weight: bold;
}
