.trips-index {
  padding-top: 6rem;
  font-size: 3.0rem;

  a {
    display: inline-block;
    margin-bottom: 3rem;
    border-bottom: 1px solid #ccc;
    padding: 0 0.25rem 1rem 5vw;
    font-size: 5vw;
    font-weight: 600;
  }
}

.trips-index-date {
  color: #aaa;
  font-weight: normal;
}
