$loading-spinner-height: 80px;

.loading-spinner {
  @include position(absolute, 50% auto auto 50%);
  width: $loading-spinner-height;
  height: $loading-spinner-height;
  margin: -40px 0 0 -40px;
  background: #ddd;
  -webkit-animation: loading-spinner-rotateplane 1.2s infinite ease-in-out;
  animation: loading-spinner-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes loading-spinner-rotateplane {
  0%   { -webkit-transform: perspective(120px) }
  50%  { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes loading-spinner-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
